@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

body { 
    margin: 0;
    /* overflow: hidden; */
    overscroll-behavior: contain; 
    background-color: rgb(41, 40, 40);

    

    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

canvas { 
    display: block; 
}

#currTask {
    position: absolute;

    width: 100%;
    top: calc(50% - calc(min(calc(60vh - 60px), 60vw)/2));
    text-align: center;

    font-size: min(calc(60vh - 60px), 60vw);

    margin-top: -20px;

    /* color: rgb(41, 40, 40); */
    /* color: rgb(168, 152, 123); */
    color: white;
    opacity: 0.6;
    /* font-family: 'Roboto Mono', sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
}